{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}

	<div class="main" role="main">
		<div class="rapport">
			<div class="rapport-sidebar">
				<ul>
					{% for page in pages("technology") %}
						<li>
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="rapport-content">{{ content }}</div>
		</div>
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
