@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile-menu';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@500&display=swap');

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;

}