$font-color: #000;
$font-alternative-color: rgb(17, 16, 16);
$accent-color: #ee6c4d;
$background-image: linear-gradient(rgb(197, 137, 224), rgb(197, 197, 117));
$background-alternative-color: #cec25d;