$background-image: linear-gradient(to top, #09203f 0%, #405b72 100%);
$background-alternative-color: #16143a;
$font-color: rgb(255, 254, 254);
$font-alternative-color: rgb(245, 237, 237);
$content-background: rgb(78, 75, 75);
$tech-box-filter: brightness(70%);
