$font-color: #000;
$font-alternative-color: rgb(17, 16, 16);
$accent-color: #ee6c4d;
$background-image: linear-gradient(#f5ffc6, #d1c7ff);
$background-alternative-color: #e5e6df;
$content-background: #f5f5f5;
$tech-box-filter: brightness(100%);
